.video11{
    width: 90%;
    font-family: AvertaStd,-apple-system,BlinkMacSystemFont,sans-serif!important;
    margin: auto;
}


.mainVideo{
    display: flex;
    margin-bottom: 3rem;
    gap: 165px;
}

.leftVideoDiv {
    text-align: initial;
    position: sticky;
    height: 20rem;
    top: 4rem;
}

/* #rightVideoDiv{

} */

.videoHeading{
    font-weight: bold;
    color: #3C4852;
    margin: 10px 45px;
    line-height: 120%;
    font-size: 40px;

}

.videoHead4{
    font-weight: bold;
   
    line-height: 150%;
    color: #3C4852;
    margin: 0px;
    font-size: 32px;
    margin-top: 40px;
}

.videopara{
    font-weight: normal;
    line-height: 150%;
    font-size: 14px;
    color: #3C4852;
    margin: 1rem 6rem 3.4rem;
    width: 416px;
}